/*Landing Image*/
.imageContainer.boxsizeWidth12 {
    height: 800px;
}
.alignMainImage {
    position: relative;
    width:370px;
    top:-800px;
    left:100px;

}
.alignMainImage div:last-of-type{
    position: relative;
    top: 500px;
    
}
.alignMainImage div{
    background-color: #02000e96;
    border-radius: 25px;
}
.alignMainImage div .textHeaderXl{
    font-size: 48px;
}
.alignMainImage div .textHeaderSm{
    font-size: 36px;
}

/*Gallery*/
.galleryImg {
    height:300px;
    object-fit: cover;
    width:100%;
}
.gallery div {
    transition: width 0.4s;
    width:100%;
}
.gallery div:hover {
    transition: width 0.8s;
    width:1000%;
}

.tosText .columnItem .columnItem div {
    padding: 0 50px 0 50px ;
}


